@import "utilities/colors";
@import "utilities/variables";

$primary: #545EE1 !default;
$white: #ffffff !default;
$accent: #545EE1 !default;
$secondary: $gray-500 !default;
$light: $gray-300 !default;
$dark: $matcha !default;

$theme-colors: (
  "accent": $primary,
  "second": cyan
);

body {
  font-family: $primary-font;
}

// html {
//   user-select: none
// }

html {
  background: #f6f6f6;
  min-height: 100vh,
}


@import "../../../node_modules/bootstrap/scss/bootstrap.scss";